<% layout('layouts/boilerplate') %>
<body>
    <h1 class="text-center">All Campgrounds</h1>
    <hr>
    <% for(let campground of campgrounds){ %>
      <div class="shadow-lg card mb-3 bg-light text-bg-light">
        <div class="row">
          <div class="col-md-4">
            <% if(campground.images.length) { %>
              <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= campground.images[0].url %>"">
            <% }else { %>
              <img crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/ds2nfv8wx/image/upload/v1705411315/YelpCamp/vzqpdtz6ghkh4xi1ybhm.jpg"">
            <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-tex"><%= campground.description %></p>
              <p class="card-tex">
                  <small class="text-muted"><%= campground.location %></small>
              </p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
